<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="h_stuff">
    <h1 id="h">CSCE 645: Lane Detection</h1></br>
     <p>For cases of unmarked and poorly marked roadways</p></br>
     <p>Author: Leon Lin</p>
</div>

<body>
    <div id="texts">
        </br></br>
        <h2>Reports</h2></br></br></br></br>
        <p><%= link_to "Proposal", proposal_path, :class => "docs1 bg-secondary"%></p></br></br></br></br>
        <p><%= link_to "Literature Review", lit_path, :class => "docs1 bg-secondary"%></p>
        
    </div>
</body>
</html>